<!DOCTYPE html>
<html>
	<head>
		<title>kaltes.beer</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	</head>
	<body>
		{% include 'elements/topnav.html' %}

		<div class="content">
			<h1>kaltes.beer</h1>
			<br>

			<p>Just some random stuff</p>
			<br>
			
			<div class="postList">
				<ul>
					{% for post in posts %}
						<li>
							<a href="{{post[1]}}">{{post[0]}}</a>
							<br>
							<p class="date">{{post[2]}}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html> 