form {
    margin-bottom: 2vh;
}

.textinput {
    color: #bfbfbf;
    background-color: transparent;
    border: 1px solid #bfbfbf;
}

textarea {
    height: 25ch;
    width: 70ch;
}

@media (max-width: 600px) { 
    textarea {
        width: 98%;
    }
 }

.entry {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.entry h3, p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.entry p {
    font-size: 0.75em;
    margin-bottom: 1vh;
}

 pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }