* {
    margin: 0px;
}

body {
    background-color: #292a2d;
    color: #bfbfbf;
}

.topnav {
    position: absolute;
    top: 1vh;
    left: 1vw;
    right: 1vw;
    bottom: 1vh;
    margin-bottom: 1vh;
}

h1 {
    text-align: center;
}

.content {
    position: absolute;
    top: calc(1vh + 2rem);
    right: 1vw;
    left: 1vw;
}

a {
    color: #bfbfbf;
    text-decoration: underline;
}

a:visited {
    color: #bfbfbf;
    text-decoration: underline;
}

hr {
    border: 1px solid grey;
    background-color: grey;
}