<!DOCTYPE html>
<html>
	<head>
		<title>Guestbook</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/guestbook.css') }}">
	</head>
	<body>
		<div class="topnav">
			<a href="{{url_for('index')}}">Index</a>
			<a href="{{url_for('guestbook')}}">Guestbook</a>
			<a href="{{url_for('about')}}">About</a>
		</div>

		<div class="content">
			<form action="{{url_for('newGuestbookEntry')}}" method="post">
				<label for="username">Name (max. 25 characters):</label><br>
				<input class="textinput" type="text" name="username" required><br>
				
				<label for="website">Website (max. 100 characters):</label><br>
				<input class="textinput" type="text" maxlength="100" name="website"><br>
				
				<label for="message">Message (max. 1000 characters):</label><br>
				<textarea class="textinput" maxlength="1000" name="message"></textarea><br>
				
				<input class="textinput" type="submit" value="Submit">
			</form>

			{% for entry in entries %}
				<hr>
				<div class="entry">
					
					<h3>{{entry[1]}}</h3>
					
					{% if entry[3] != '' %}
						<p>{{entry[4]}} - <a href="//{{entry[3]}}">{{entry[3]}}</a></p>
					{% else %}
						<p>{{entry[4]}}</p>
					{% endif %}
					{% if entry[2] != '' %}
						<pre>{{entry[2]}}</pre>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</body>
</html> 