<!DOCTYPE html>
<html>
	<head>
		<title>kaltes.beer</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="../static/css/style.css"> <!-- for vscode live server -->
	</head>
	<body>
		<div class="topnav">
			<a href="{{url_for('index')}}">Index</a>
			<a href="{{url_for('guestbook')}}">Guestbook</a>
		  </div>

		<div class="content">
			<p>I dont know what to write here but this is my Website</p>

			<div class="about">
				<div class="socials">
					<h2>Socials:</h2>
					<ul>
						<li><a href="https://github.com/l0l67">Github</a></li>
						<li><a href="https://www.instagram.com/namestehthier/">Instagram</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html> 